body {
  background-color: black;
  text-align: center;
}
h1, h2 {
  color: white;
}
.thing {
  background-color: yellow;
  border: 10px solid blue;
}
a:visited {
  color: blue;
}
table {
  margin-left: auto;
  margin-right: auto;
}
